[submodule "src/themes/ananke"]
	path = src/themes/ananke
	url = https://github.com/gohugo-ananke/ananke
[submodule "src/themes/gallery"]
	path = src/themes/gallery
	url = https://github.com/nicokaiser/hugo-theme-gallery.git
